[submodule "122/PAs/SFML_PA_9"]
	path = 122/PAs/SFML_PA_9
	url = git@github.com:grayson-fougere/SFML_PA_9.git
[submodule "223/pa1-linux-game-Logan-Meyers"]
	path = 223/pa1-linux-game-Logan-Meyers
	url = git@github.com:WSU-CPTS-223/pa1-linux-game-Logan-Meyers.git
[submodule "223/pa2-avl-map-Logan-Meyers"]
	path = 223/pa2-avl-map-Logan-Meyers
	url = git@github.com:WSU-CPTS-223/pa2-avl-map-Logan-Meyers.git
[submodule "pa3-inventory-management-Logan-Meyers"]
	path = pa3-inventory-management-Logan-Meyers
	url = git@github.com:WSU-CPTS-223/pa3-inventory-management-Logan-Meyers.git
[submodule "223/pa3-inventory-management-Logan-Meyers"]
	path = 223/pa3-inventory-management-Logan-Meyers
	url = git@github.com:WSU-CPTS-223/pa3-inventory-management-Logan-Meyers.git
[submodule "223/ma2-sorting-algorithm-comparison-Logan-Meyers"]
	path = 223/ma2
	url = git@github.com:WSU-CPTS-223/ma2-sorting-algorithm-comparison-Logan-Meyers.git
[submodule "223/pa4-entertainment-search-and-sort-Logan-Meyers"]
	path = 223/pa4-entertainment-search-and-sort-Logan-Meyers
	url = git@github.com:WSU-CPTS-223/pa4-entertainment-search-and-sort-Logan-Meyers.git
[submodule "223/ma3"]
	path = 223/ma3
	url = git@github.com:WSU-CPTS-223/ma3-shortest-path-comparison-Logan-Meyers.git
[submodule "321/cpts321-logan_meyers-hws"]
	path = 321/cpts321-logan_meyers-hws
	url = git@gitlab-school:lmeyers/cpts321-logan_meyers-hws.git
[submodule "321/hws"]
	path = 321/hws
	url = git@gitlab-school:lmeyers/cpts321-logan_meyers-hws.git
[submodule "321/exercises"]
	path = 321/exercises
	url = git@gitlab-school:lmeyers/cpts321-logan_meyers-in-class-exercises.git
[submodule "CptS-122_SP26_LabSolutions_Logan-Meyers"]
	path = CptS-122_SP26_LabSolutions_Logan-Meyers
	url = git@github.com:Logan-Meyers/CptS-122_SP26_LabSolutions_Logan-Meyers.git
[submodule "TA122"]
	path = TA122
	url = git@github.com:Logan-Meyers/CptS-122_SP26_LabSolutions_Logan-Meyers.git
[submodule "322-StatQuest"]
	path = 322-StatQuest
	url = git@github.com:WSU-CPTS322-SP26/StatQuest
